@font-face {
	font-family: Josefin_Sans;
	src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
	font-weight: normal;
}
			
@font-face {
	font-family: Josefin_Sans-Italic;
	src: url(../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
	font-weight: italic;
}

body {
	font-family: Josefin_Sans;
	margin: 0px;
	background-color: #b5db1d;
	color: white;
	text-shadow: -2px 2px 3px #878787;
}
			
header {
	background-color: #f7ca36;
	padding: 3px 10px;
	border-bottom: solid 9px #f7722a;
}

h1 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.4em;
}

#login {
	font-size: 23px;
	margin: 3px;
	padding: 5px 7px;
	font-style: italic;
	border: 4px outset black;
	background-color: #ff5429;
	color: white;
}

#login:hover {
	border-color: #ff2121;
}
#loginMessage {
	color: red;
}

.title, .subtitle {
	margin: 2px;
	padding: 2px;
}

input, textarea, select, button {
	font-family: Josefin_Sans;
	border-width: 3px;
}

input[type=submit] {
	background-color: #32c42d;
}
			
input[type=reset] {
	background-color: #f94a06;
}

input[type=reset], input[type=submit] {
	color: white;
	font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=radio] {
	accent-color: yellow;
	border: 0px;
    width: 30px;
}

.ansRadio {
	font-size: 30px;
}

.ansBlank {
	font-size: 75px;
	text-align: center;
	width: 175px;
}

fieldset {
	border-color: white;
	margin: 5px;
}

.answerArea {
	text-align: center;
}

.information {
	font-size: 25px;
	margin: 2px;
}

.titleInformation {
	font-size: 22px;
	margin: 2px;
}

.box {
	margin: 10px;
	border: 3px solid white;
	background-color: #5288a3;
}

.titleBox {
	margin: 10px;
	border: 3px solid white;
	text-align: center;
	padding: 6px;
	background-color: #a35252;
}

.diffModeButton {
	font-size: 20px;
	margin: 3px;
	padding: 5px 7px;
	font-style: italic;
	background-color: #222222;
	color: #eeeeee;
}

.diffModeButton:hover {
	border-color: #ffe433;
}

/* Button Text Shades [Page Selectors] */

.diffModeButton#basic {
	text-shadow: -2px 2px 3px #59ffee;
}

.diffModeButton#exponents {
	text-shadow: -2px 2px 3px #3dff8e;
}

.diffModeButton#basic-plus {
	text-shadow: -2px 2px 3px #efff3d;
}
}

.diffModeButton#home {
	text-shadow: -2px 2px 3px #f7ee40;
}

/* --- */

.modeDescription {
	text-indent: 30px;
	font-style: italic;
	color: #dedede;
	margin: 1px 0px 3px;
	text-shadow: -1px 1px 2px #222222;
}

.question {
	font-size: 75px;
}

.ans {
	text-align: center;
	height: 50px;
	font-size: 50px;
}

.timer {
	font-size: 31px;
	margin: 8px;
}

.pointCount {
	font-size: 29px;
	font-style: italic;
	color: yellow;
}
